*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Python
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.\#*
._*
xcuserdata/
__pycache__/
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
\#*\#
Info.plist
*.dSYM
*.dylib
**/*~
**/\#*
*.o
**/*.o
*.out
**/a.out
.DS_Store
**/.DS_Store
*.xcodeproj/
.vscode/
.vscode/**
.github/
.github/**
.cache/
.cache/**
compile_commands.json
build/
build/**
bin/
bin/**
